*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: url(./asserts/images/bg.jpg);
}

:root {
    
    --clr-dark: 230 35% 7%;
    --clr-accent: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --gap: 3rem;
  
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  
  
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
  }
 
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  picture {
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400;
  }
  
  body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-accent));
    min-height: 100vh;
    line-height: 1.6;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
  }
  
  img,
  picture {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  input,
  button,
  textarea,
  select {
    font-family: inherit;
  }
.flex{
    display: flex;
}  
.main-logo{
    width: 4rem;
    height: 4rem;
}
nav.flex{
    justify-content: space-between;
}
.navigation{
    list-style: none;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem 1rem 1rem 1rem;
}
.navigation.flex{
    justify-content: space-evenly;
    gap:3.1rem;
}
.navigation>li>span{
    font-weight: bold;
    margin-right: 0.5rem;
}
.herocontainer{
    justify-content: center;
    align-items: center;
    padding-left: 22rem;
    padding-right: 22rem;
}
.heroimage{
    margin-left: 2rem;
}
nav{
    margin: 2rem 0rem 2rem 2rem;
    
}
.herotext{
    font-family: 'Times New Roman', Times, serif;
}
a{
    margin-right: 0;
}